.divFullScrean{
  width: 100vw;
  height: 100vh;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background-color: lightblue;
}

.navbar{
    max-width: 100%;
    min-width: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: chocolate;
    padding: 10px 16px;
    margin-bottom: 16px;
    margin-top: 0;
    /* max-height: 50px; */
}

.navbar-logo{
    color: white;
    font-size: 20px;
}

.navbar-menu{
    display: flex;
    list-style-type: none;
    gap: 30px;
    margin: 0;
    align-items: center;
}

.navbar-menu li a{
    text-decoration: none;
    color: white;
}

.navbar-img{
  max-width: 30px;  
  max-height: 30px; 
  width: auto;
  height: auto;
}